@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Great+Vibes&family=Josefin+Slab:wght@400;600&family=Lora:ital,wght@0,500;1,500&family=Roboto+Serif:opsz,wght@8..144,700&family=Roboto:ital,wght@0,400;1,300&family=Secular+One&display=swap');
/*@font-face {
    font-family: 'cordel';
    src: url('fonte/cordel.otf') format('opentype');
    font-weight: normal;
}*/


*{
    margin: 0%;
    padding: 0%;
}

header{
    background-color: black;
    margin: auto;
    padding: 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    text-align: center;
    color: white;
}

 h1{
    font-family: 'Secular One', sans-serif;
    font-size: normal;
}

body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    padding: 0px;
    margin-top: 70px;
    font-size: 1.1em;
    font-weight: bolder;
    font-family: 'Secular One', sans-serif;
}

main p{
    font-style: italic;
    font-size: larger;
}


main.grande{
    line-height: 2.1;
}

div{
    padding: 20px;
    margin-bottom: 70px;
}



div#foto1{
    background-image: url('imagens/background001.jpg');
    background-size: cover;
    background-position: center center;
    position: relative;
}

div#foto2{
    background-image: url('imagens/background002.jpg');
    background-size: cover;
    background-position: center center;
    position: relative;
}


p.texto{
    height: 320px;
    width: 271px;
    background-color: rgba(0, 0, 0, 0.235);
    color: white;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}
