@charset "UTF-8";

*{
    margin: 0%;
    padding: 0%;
}

header{
    background-color: black;
    margin: auto;
    padding: 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    text-align: center;
    color: white;
}


body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}
 

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}